# Declaring Swarm groups
[managers]
[workers]

[managers:children]
meta-Swarm_type_{{lagoon_configuration_params.environment.name | replace('-','_')}}_manager

[workers:children]
{% if lagoon_workers.instances | length > 0 %}
meta-Swarm_type_{{lagoon_configuration_params.environment.name | replace('-','_')}}_worker
{% endif %}

[nodes:children]
managers
workers
